pandas 
numpy 
matplotlib
seaborn 
scikit-learn
xgboost
catboost
ipykernel
pymongo[srv]
pymongo
certifi
python-dotenv
whois
requests
bs4
tldextract
Pyyaml 
joblib
ensure
python-box
flask
# mlfow
dagshub